@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #ecf2fa;
}

.ticket-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  grid-template-areas: " b c d e";
  align-items: center;
  justify-items: center;
}

.el-1 {
  grid-area: a;
}
.el-2 {
  grid-area: b;
}
.el-3 {
  grid-area: c;
}
.el-4 {
  grid-area: d;
}
.el-5 {
  grid-area: e;
}

@media (max-width: 640px) {
  .el-5 {
    grid-area: e;
    grid-column: span 5;
  }
  .ticket-grid {
    grid-template-rows: auto auto auto;
    grid-template-areas:
      ". b c d ."
      ". . e . .";
  }
}
